border-1px($color)
  position: relative
  &:after
    content: ' '
    display: block
    position: absolute
    left: 0
    bottom: 0
    right: 0
    content: ''
    display: none!import
bg-image($url)
  background-image: url($url + "@2x.png")
  @media (-webkit-min-device-pixel-radio: 3),(min-device-pixel-radio: 3)
    background-color: url($url + "@3x.png")
